/* ===================
    MAIN
=====================*/
:root {
    --superlight: rgb(255, 230, 230);
    --light: rgb(240, 169, 169);
    --main: rgb(190, 97, 113);
    --mid: rgb(161, 94, 122);
    --dark: rgb(104, 48, 69);
    --superdark: rgb(51, 20, 33);
    --megadark: rgb(36, 5, 25);
    --white: rgb(255, 255, 255);
}

html,
body,
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
}

body {
    min-width: 320px;
    background: var(--superdark);
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    transition-duration: 0.3s;
    display: block;
}

button{
    background: transparent;
    transition-duration: 0.3s;
}
button:focus{
    border-color: transparent;
}

/* ===================
    TEXT COLOR
=====================*/
#welcome-page-container,
.welcome-page-button-text,
.main-link,
#footer-copyright,
.list-bottom-stats,
a {
    color: var(--superlight);
}

.welcome-page-button-text:hover,
.welcome-page-button-text:focus,
.main-link:hover,
.main-link:focus {
    color: var(--main);
}

/* ===================
    BACKGROUNDS COLOR
=====================*/
#top-header {
    background: var(--main);
}

.welcome-page-button-text:hover,
.welcome-page-button-text:focus,
.main-link:hover,
.main-link:focus,
.main-link:after {
    background: var(--superlight);
}

.list-card-top,
.list-card-label,
.list-details-link,
.list-stat-label {
    background: var(--mid);
}

.list-card-body-img,
.list-card-bottom,
.list-card-bottom {
    background: var(--dark);
}

.list-stat-stat{
    background: var(--superdark);
}

#footer,
#welcome-page-top {
    background: var(--megadark);
}

/* ===================
    HEADER
=====================*/
#top-header {
    padding: 10px;
}

.top-link-containers {
    display: inline;
}
#top-link-left {
    position: relative;
    margin-left: 5px;
}
#top-links-right {
    position: relative;
    float: right;
    margin-right: 1px;
}

#top-header .main-links {
    display: inline-block;
    margin: 0px 10px;
}

.main-link {
    text-transform: uppercase;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid var(--superlight);
}

.main-link:hover,
.main-link:focus {
    transform: scale(1.5);
}

/* ===================
    FOOTER
=====================*/
#footer {
    border-top: 5px solid var(--dark);
    padding: 20px 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    position: relative;
}

#footer-copyright {
    text-align: center;
    font-size: 12px;
}

/* ===================
    WELCOME PAGE
=====================*/
#welcome-page-container {
    text-align: center;
    height: 100%;
}

#welcome-page-top {
    text-transform: uppercase;
    margin-top: 100px;
    padding: 100px;
    border-top: 5px solid var(--main);
    border-bottom: 5px solid var(--main);
    position: relative;
}

#welcome-page-bottom{
    margin-top: 100px;
    margin-bottom: 30%;
}

#welcome-page-title {
    font-size: 64px;
    font-weight: bold;
    position: relative;
}

#welcome-page-title:after {
    content: '';
    width: 50%;
    height: 5px;
    background: var(--main);
    position: absolute;
    left: 25%;
    bottom: 0px;
}

#welcome-page-subtitle {
    font-size: 32px;
}

.welcome-page-button {
    font-weight: bold;
    margin: 0px 20px;
    position: relative;
    font-size: 50px;
    display: inline-block;
    text-transform: uppercase;
}

.welcome-page-button-text {
    border: 5px solid var(--main);
    padding: 10px 20px;
    transition-duration: 0.3s;
}

.welcome-page-button-text:hover,
.welcome-page-button-text:focus {
    border-color: var(--superlight);
    transform: scale(1.5);
}

/* ===================
    LIST
=====================*/
#list-filter {
    padding: 10px;
}

.list-card {
    margin: 100px 0px;
}

.list-card-top {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}


.list-card-body {
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

.list-card-label {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

.list-card-label .main-link{
    font-size: 16px;
    padding: 5px;
}

.list-links {
    width: 67%;
    margin: auto;
}

.list-card-body-img {
    width: 200px;
    display: inline-block;
    margin: 5px;
}

.list-card-thumbnail-link {
    padding: 5px;
    border: 2px solid var(--mid);
}

.list-card-thumbnail-image {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 5px;
    background-image: url('img/luna.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.list-card-details {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    transition-duration: 0.3s;
}

.list-card-bottom {
    padding: 20px 10px;
}

.list-details-link {
    text-align: center;
    padding: 10px;
}

.list-bottom-stats{
    text-align: center;
}

.list-bottom-stat{
    display: inline-block;
    text-align: left;
    margin: 5px;
}

.list-stat-label{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

.list-stat-stat{
    padding: 5px 10px;
    border: 2px solid var(--mid);
}

/* ===================
    DETAILS
=====================*/
#item-details{}
#item-card{}
#item-card-top{}
#item-card-name{}
#item-card-body{}
.item-images{}
.item-images-top{}
.item-images-name{}
.item-thumbnail{}
.item-thumbnail-image{
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/luna.jpg');
}
.item-dates{}
.item-date{}
.item-date-label{}
.item-date-date{}

/* ===================
    MEDIA
=====================*/
@media only screen and (max-width: 700px) {
    #welcome-page-top{
        padding: 50px;
    }
    #welcome-page-title {
        font-size: 32px;
    }
    #welcome-page-title:after{
        width: 100%;
        left: 0%;
    }
    #welcome-page-subtitle{
        font-size: 18px;
    }
}

@media only screen and (max-width: 590px) {
    .welcome-page-button {
        display: block;
        width: 100%;
        margin: 10px 0px;
    }
    .list-card-body-img{
        width: 160px;
    }
    .list-card-thumbnail-image{
        height: 200px;
    }
    .list-card-label .main-link{
        font-size: 12px;
    }
    .list-stat-label{
        font-size: 14px;
    }
    .list-stat-stat{
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {
    #top-header .main-links {
        margin: 3px;
    }
    #top-header{
        padding: 5px;
    }

    .main-link {
        font-size: 16px;
        padding: 3px;
        border-width: 2px;
    }

    .main-link:hover,
    .main-link:focus {
        transform: scale(1.2);
    }
}
@media only screen and (max-width: 340px){
    .list-card-body-img{
        width: 120px;
    }
    .list-card-thumbnail-image{
        height: 180px;
    }
    .list-card-label .main-link{
        font-size: 10px;
        padding: 0px;
    }
}